<section>
  <div class="container">
    <div class="row mt-3">
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            ORDER SUMMERY
          </div>
          {{!-- Add cart items here --}}
         
          <div class="card-body border-bottom">
            <div class="row">
              
            </div>
            
          </div>
        </div>
        <form action="" id="checkout-form">
        <div class="card mt-3">
          <div class="card-header">
            DELIVERY ADDRESS
          </div>
          {{!-- Add cart items here --}}
         
          <div class="card-body border-bottom">
            <div class="row">
              <div class="col-8 align-items-center">
                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea class="form-control" id="address" name="address" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="pincode">Pincode</label>
                  <input type="text" class="form-control" id="pincode" name="pincode">
                </div>
                <div class="form-group">
                  <label for="mobile">Mobile</label>
                  <input type="text" class="form-control" id="mobile" name="mobile">
                  <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="card mt-3 mb-5">
          <div class="card-header">
            PAYMENT OPTIONS
          </div>
          <div class="card-body border-bottom ml-3">
            <div class="row">
            <div class="form-check mr-3">
              <input class="form-check-input" type="radio" name="payment-method" value="COD" checked>
              <label class="form-check-label">
                COD
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="payment-method" value="ONLINE">
              <label class="form-check-label">
                Online Payment
              </label>
            </div>
            </div>
            </div>
          
          {{!-- footer --}}
          <div class="card-footer bg-transparent border-muted d-flex justify-content-end">
            <button class="btn btn-warning btn-lg " type="submit">Checkout</button>
          </div>
        </div>
      </form>
         
        
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            PRICE DETAILS
          </div>
          <div class="card-body">
              <div class="row">
                <div class="col-7">
                    <h5 class="card-title">Price</h5>
                    <h5 class="card-text">Discount</h5>
                    <h5 class="card-text">Delivery Charges</h5>
                    <h5 class="card-text mt-4">Total Amount</h5>
                </div>
                <div class="col-5">
                    <h5 class="card-title float-right">₹ {{total}}.00</h5>
                    <h5 class="card-text float-right">- ₹ 0000.00</h5>
                    <h5 class="card-text float-right">Free</h5>
                    <h5 class="card-text float-right mt-4">₹ {{total}}.00</h5>
                </div>
              </div>
            <div>
                
            </div>
            <div class="card-footer bg-transparent border-muted mt-4">
                <h6 class="card-text">You will save ₹ 1000 on this order</h6>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('#checkout-form').submit((e)=>{
    e.preventDefault()
    $.ajax({
      url:'/place-order',
      method:'post',
      data:$('#checkout-form').serialize(),
      success:(response)=>{
        alert(response.status)
        if(response.codSuccess){
          location.href='/order-success'
        } else {
          razorpayPayment(response)
        }
      }
    })
  })

  function razorpayPayment(order){
    var options = {
    "key": "rzp_test_CAt7HN6R39WSNI", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "greensoft",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        //alert(response.razorpay_payment_id);
        //alert(response.razorpay_order_id);
        // alert(response.razorpay_signature);

        verifyPayment(response, order);
        },
        "prefill": {
            "name": "devo thomas",
            "email": "devo@email.com",
            "contact": "6788939031"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }

  function verifyPayment(payment, order){
    $.ajax({
      url: '/verify-payment',
      method: 'post',
      data:{
        payment, order
      },
      success:(response)=>{
        if(response.status){
          location.href='/order-success'
        } else {
          alert('Payment Failed')
        }
      }
    })
  }

</script>
<script>
  
</script>
{{!-- $.ajax({
      url: '/verify-payment',
      method: 'post',
      data:{
        payment, order
      },
    }) --}}

        {{!-- var rzp1 = new Razorpay(options);
    rzp1.open(); --}}